<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h2 class="fw-bold mb-2">Sign up</h2>
            <p class="text-black-50 mb-5">Please provide required information!</p>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-outline mb-4">
                  <%= f.label :name, class: "form-label" %>
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class:"form-control"%>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :email, class: "form-label" %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address", class:"form-control"%>
                </div>

                <div class="form-outline mb-4">
                  <%= f.label :password, class: "form-label" %>
                  <% if @minimum_password_length %>
                  <em> &nbsp; (<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class:"form-control"%>
                </div>

                <div class="form-outline mb-4">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Passowrd", class:"form-control"%>
                </div>

                <div class="d-grid">
                  <%= f.submit "Sign up", class:"btn btn-secondary btn-lg mb-2" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>